.manage {
    height: 90%;
    padding-bottom: 20px;
    overflow: hidden;

    &header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        //align-items属性定义flex子项在flex容器的当前行的侧轴（纵轴）方向上的对齐方式。
        // 元素位于容器的开头。

    }
}